In [7]:
# libraries
import matplotlib.pyplot as plt
from collections import defaultdict

## Problem Statement

Job prospects for students majoring in an engineering discipline continue to be very robust. How much can a new engineering graduate expect to earn? Here are the starting salaries for a sample of 38 civil engineers from one author’s home institution (Spring 2016), courtesy of the university’s Graduate Status Report:

In [8]:
with open("data.txt", "r") as file:
    sample = list(map(int, file.read().split("\n")))

In [9]:
sample

[58000,
 65000,
 55000,
 55000,
 62000,
 60000,
 63000,
 52000,
 56160,
 61000,
 60000,
 70000,
 67000,
 80000,
 70000,
 80000,
 66560,
 62500,
 68640,
 60320,
 58240,
 75000,
 72000,
 65000,
 60000,
 60000,
 83000,
 70000,
 61000,
 68000,
 50128,
 65000,
 70000,
 57600,
 56000,
 61000,
 65000,
 63000]

In [12]:
# creating stem leaf plot using defaultdict
stemleaf = defaultdict(list)
for a in sample:
    stemleaf[a//10000].append((a//1000)%10)

In [13]:
stemleaf

defaultdict(list,
            {5: [8, 5, 5, 2, 6, 8, 0, 7, 6],
             6: [5, 2, 0, 3, 1, 0, 7, 6, 2, 8, 0, 5, 0, 0, 1, 8, 5, 1, 5, 3],
             7: [0, 0, 5, 2, 0, 0],
             8: [0, 0, 3]})

here `stem` column showing the MSB of the digit and `leaf` column showing all the digits next to MSB